@import "tailwindcss";
@plugin '@midudev/tailwind-animations';
/* Regular (400) */
@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/Oswald-Regular/Oswald-Regular.woff2") format("woff2"),
    url("/fonts/Oswald/Oswald-Regular/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/Oswald-Medium/Oswald-Medium.woff2") format("woff2"),
    url("/fonts/Oswald/Oswald-Medium/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.woff2") format("woff2"),
    url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "Oswald";
  src:
    url("/fonts/Oswald/Oswald-Bold/Oswald-Bold.woff2") format("woff2"),
    url("/fonts/Oswald/Oswald-Bold/Oswald-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Si quieres Oswald global para todo el sitio */
body {
  font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
