---
import MainNav from "@components/MainNav.astro";
const heroImage = "/images/background-home.webp";
---

<section id="inicio" class="relative min-h-screen text-white">
  <div class="absolute inset-0">
    <img
      src={heroImage}
      alt="Equipo de barberos frente al local."
      loading="eager"
      width="1920"
      height="1080"
      class="h-full w-full object-cover"
    />
    <div class="absolute inset-0 bg-black/45"></div>
  </div>

  <!-- NAV reutilizable sobre imagen -->
  <MainNav theme="dark" />

  <!-- Solo para ocupar alto 100vh -->
  <div class="relative z-10 h-[calc(100vh-56px)] sm:h-[calc(100vh-96px)]"></div>
</section>
